<?xml version="1.0"?>

<launch>
  <arg name="name_space" default="/"/>
  <rosparam command="load" file="$(find kr_50_r2500_tests)/config/objects_description.yaml"/>

  <group ns="$(arg name_space)">
    <rosparam command="load" file="$(find kr_50_r2500_tests)/config/coke_scene.yaml"/>
    <node pkg="object_loader" name="scene_spawner" type="scene_spawner" output="screen"/>
  </group>

</launch>
