<?xml version="1.0"?>

<launch>
  <rosparam command="load" file="$(find kr_50_r2500_tests)/config/params/collection_name.yaml"/>
  <rosparam command="load" file="$(find kr_50_r2500_tests)/config/params/exec_params.yaml"/>
  <rosparam command="load" file="$(find kr_50_r2500_tests)/config/params/arbitrator_params.yaml"/>
  <rosparam command="load" file="$(find kr_50_r2500_tests)/config/params/learning_params.yaml"/>
  <rosparam command="load" file="$(find kr_50_r2500_tests)/config/params/policy_params.yaml"/>
</launch>
